.idea
.idea/*
*/.idea
*/*/.idea
workspace.xml
*/workspace.xml
.idea/workspace.xml
.idea/*
*/.idea
.idea/ukoracms.iml
.idea/workspace.xml
.DS_Store
*.swp
.vagrant
*/.vagrant
*/*/.vagrant
*~
public/resources/script*
public/resources/styles*
log.log
xdebug/cachegrind*
*.log
apache
certificates
comps
environments
public/modules/WisconsinCheeseMart
public/modules/Below0Day
public/modules/DigStack
public/modules/InnovationHitSquad
public/modules/RssSearchHub
public/modules/WisconsinCheeseMart
apps